.services{
    background-color: #660000;
    .container{
        .row{
            .card{
                &:hover{
                    background-color: #76c38f;
                    transition: 0.8s;
                    .card-body{
                        .card-title{
                            font-family: Georgia;
                            font-size: 32px;
                            color: white;
                            text-align: center;
                            transition: 0.8s;
                        }
                        .card-text{
                            font-family: Georgia;
                            font-size: 12px;
                            color: white;
                            text-align: center;
                            transition: 0.8s;
                        }
                    }
                }
                .card-body{
                    .card-title{
                        font-family: Georgia;
                        font-size: 32px;
                        color: #333333;
                        text-align: center;
                    }
                    .card-text{
                        font-family: Georgia;
                        font-size: 12px;
                        color: #979797;
                        text-align: center;
                    }
                }
            }
        }
    }
}