.contact{
    background-color: black;
    .container{
        .row{
            .left{
                a{
                    text-decoration: none;
                    color: #76c38f;
                }
            }
            .right{
                a{
                    i{
                        color: #76c38f;
                    }
                }
            }
        }
    }
}